<h1>Choose a Survey</h1>

<h3>Select a Survey</h3>

<ul>
  <% @all_surveys.each do |survey| %>
  <li><a href="/takers/survey/<%=survey.id()%>"><%= survey.title()%></a></li>
  <% end %>
</ul>

<br><br>
<h5><a href="/" >Return to main page</a></h5>
